* { 
  margin : 0;
  padding: 0;
  box-sizing : border-box;
}


body{
    overflow-x: hidden;
    font-family: DynaPuff;
    background-color: black;
    /* display: flex; */
  align-items : center;
  justify-content : center;  
  min-height : 800px;
  }
.main h1{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    color: #fff;
}
.mainimg{
    /* background: linear-gradient(rgba(3, 0, 3, 1), rgba(66, 1, 77, 0.5));  */
    position: absolute;
    /* z-index: -1; */
    width: 100%;
    overflow: hidden;
    height: auto;
    animation: fadeIn 10s;
    animation:fadeInUp 2s ease backwards;
    filter: brightness(19%);
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInUp{
  0%{transform:translate(0px, 400px); opacity: 0;}
  100%{transform:translate(0px, 0px); opacity: 1;}
}

@keyframes fadeInUp2{
  0%{transform:translate(0px, -100px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}
.middle{
    display: flex;
  }
  .main h3{
    color: #CC99CC;
    background-color: transparent;
    transition: 0.4s;
    margin-top: -50px;

  }
  
  .main h3:hover , .main h5:hover{
    color: white;
    cursor: pointer;
    /* letter-spacing: 0.1em; */
    transform: scale(0.8);
  }
  .main h5{
    color: #CC99CC;
    text-align: center;
    margin-top: 5%;
    background-color: transparent;
    transition: 0.4s;
    margin-bottom: 50px;
  }
  
.main h3{
    font-size: 2.5vw;
    position: relative;
    text-align: center;
    padding-top: 100px;
    display: inline-block;
    margin-bottom: 100px;
}
span{
    color: var(--prime);
}
.main h5{
    margin-top: 10px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: lighter;
}
.content{
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 30px;
    justify-content: center;
    color: #660066;
}
.about .content .cols{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 70px;
    color: #CC99CC;
    text-align: justify;
}
.about .content .cols p b ul li{
    font-size: 20px;
    margin-right: 2px;
    color: #660066;
    text-align: left;
}
.about .content .cols a{
    position: relative;
    top: 20px;
    color: #00ffd5;
    background: var(--prime);
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: transparent;
    text-transform: capitalize;
    margin-left: 200px;
    margin-top: 20px;
    margin-left: 250px;
}
.about .content .cols a:hover{
    color: #fff;
    background:#660066;
    
}
/* .about .content .cols .box{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.about .content .cols .box img{
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
 

.about .content .cols .box figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  border-radius: 10%;
  height:100%;
  width: 100%;
  margin-top: 35px;
  box-shadow : 0 5px 20px rgb(255, 255, 255);
        transition : 0.3s ease-in-out;
}
.about .content .cols .box figure:hover img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  box-shadow : 0 5px 20px rgb(186, 42, 183);
        transition : 0.3s ease-in-out;
}

/* .about .content .cols .box  {
	position: relative;
}
.about .content .cols .box ::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
  
}*/
/* .about .content .cols .box :hover img{
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}


.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
 */
          
/*
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 120%;
		height: 120%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 120%;
		height: 120%;
		opacity: 0;
	}
} */


.main2 h2{
    width: 100%;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    color: #fff;
}
.main2 h4{
    color: #CC99CC;
    background-color: transparent;
    transition: 0.4s;
    margin-top: 50px;
    text-align: center;
}
.card{
    width: 25%;
    color: white;
    border: 2px solid cyan;
    border-radius: 15px;
    padding: 1em;
    margin-bottom: 2em;
    background-color: transparent;
    transition: 0.4s;
  }
  
  .card:hover{
    cursor: pointer;
    border: 2px solid #CC99CC;
    transform: scale(1.1);
  }
  .lmid{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
  
  .bmic{
    background-color: transparent;
    /* height: 20%; */
    padding: 0;
    border-radius: 20px;
    border: none;
    width: 40%;
    text-align: center;
    border: 2px solid #de9dde;
    align-items: center;
  }
  .bmic img{
    border-radius: 20px;
    /* height: 50%; */
    border: 2px solid #660066;
    
    /* box-shadow: 100px 100px #000; */
    filter: brightness(20%);
  }
  
  .bmic img:hover{
    filter: brightness(10%);
  }
  
  
  .bmic:hover{
    border: none;
    border: 2px solid white;
  
  
  }
  
  .card-title{
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 1.6em;
  }
  
  .card-text{
    font-size: large;
    width: 100%;
  
  }
  
  
  .hr1{
    margin-top: 3%;
    width: 90%;
    margin-left: 5%;
    height: 0.2em;
    border: 2px solid #CC99CC;
    background-color: #CC99CC;
    align-items: center;
  }
  
  
  .card-text2{
    margin-top: 2%;
    font-size: 1.3em;
    line-height: 3em;
  
    /* visibility: hidden; */
  }
  @media only screen and (max-width: 600px) {
  .sign{
  position: relative;
  top: 7px;
  right: 0;
  margin-right: 2%;
  
  /* margin-left: 75%; */
  }
  
  .store{
    position: relative;
    margin-left: 10px;
    right: 0;
    border: none;
      /* margin-top: 5px;
      top: 0; */
    /* right: 200px; */
  }
  
  .store:hover{
    border: none;
    position: relative;
  }
  
  .middle{
    display: flex;
    margin: 5em;
    flex-direction: column;
  }
  
  
  .navbar{
    height: auto;
    
  }
  .nav-link{
    margin: 0;
    padding: 0;
  }
  .nav-link:hover{
    border: 1px solid white;
    border-radius: 10px;
  
  }
  
  .typewriter h1 {
    font-size: 1.7em;
  }
  
  
  .rightm{
    margin-top: 15%;
    position: relative;
    align-content: center;
    /* margin-top: 0; */
    background-color: transparent;
    width: 100%;
    /* border: 2px solid red; */
      animation: 
    fadeInUp2 1.5s ease;
  }
  
  .rightm button{
      /* width: 20em; */
      height: auto;
      font-size: 1em;
      border: none;
      padding: 1em;
      outline: none;
      color: #fff;
      background: transparent;
      cursor: pointer;
      position: relative;
      font-weight: 400;
      margin-top: 3em;
      z-index: 0;
      border-radius: 10px;
      /* top: 70%;
    left: 50%; */
    /* background-color: transparent; */
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .leftm{
    /* z-index:1; */
    position: relative;
    /* border: 2px solid red; */
    /* margin-top: 2%; */
    background-color: transparent;
    width: 100%;
    padding: 1em;
    align-items: center;
    /* justify-content: center;
    text-align: center; */
    animation: 
    fadeInUp2 1.5s ease;
  }
  
  .leftm h2{
    background-color: transparent;
    color: #f7f4f7;
    
  }
  
  .leftm button{
    color: white;
    padding: 1em;
    font-weight: 400;
    font-size: 1em;
    /* margin-top: 5%; */
    width: 100%;
    font-size: 1.2em;
    border-radius: 30px;
    background-color: transparent;
    border: 2px solid #660066;
    transition: 0.4s;
    
  }
  
  .quote{
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    padding: 1em;
  }
  
  
  .BMI{
  
    margin-top: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
    align-items: center;
    
    }
  
    .card{
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 80%;
      color: white;
      border: 2px solid cyan;
      border-radius: 15px;
      padding: 1em;
      margin-bottom: 2em;
      background-color: transparent;
      transition: 0.4s;
    }
  
  
    /* .bmic{
      padding: 0;
      border: 2px solid cyan;
    }
   */
  
  
    .card-text2{
      margin-top: 20%;
      line-height: 3em;
  
      /* visibility: hidden; */
    }
}
.bmi1{
  
    margin-top: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */
    align-items: center;
    
}
.bmi1c{
        padding: 0;
        border: 2px solid cyan;
      }
      
      .containerz {
        position : relative;
        width : 1100px;
        display : flex;
        align-items : center;
        justify-content : center;
        flex-wrap : wrap;
        padding : 30px;  
      }
      
      .containerz .cardz {
        /* align-items: center; */
        position: relative;
        max-width : 300px;
        height : 215px;  
        background-color : #660066;
        margin-top: 100px;
        margin-left: -500px;
        margin : 30px 15px;
        padding : 30px 15px;
        
        display : flex;
        flex-direction : column;
        box-shadow : 0 5px 20px rgb(255, 255, 255);
        transition : 0.3s ease-in-out;
        border-radius : 15px;
      }
      .containerz .cardz:hover {
        height : 320px;   
        margin-top: 100px; 
      }
      
      .containerz .cardz .imagez {
        position : relative;
        width : 260px;
        height : 260px;
        
        top : -40%;
        left: 8px;
        box-shadow : 0 5px 20px rgba(0,0,0,0.2);
        z-index : 1;
      }
      
      .containerz .cardz .imagez img {
        max-width : 100%;
        border-radius : 15px;
      }
      
      .containerz .cardz .contentz {
        position : relative;
        top : -140px;
        padding : 10px 15px;
        color : rgb(255, 255, 255);
        text-align : center;
        /* margin-top: -80px; */
        visibility : hidden;
        opacity : 0;
        transition : 0.3s ease-in-out;
          
      }
      
      .containerz .cardz:hover .contentz {
         margin-top : 45px;
         visibility : visible;
         opacity : 1;
         transition-delay: 0.2s;
        
      }
.box img{
  /* border: 2px solid rebeccapurple; */
  border-radius: 15px;
  transform: scale(0.9);
  filter: brightness(50%);
  transition: 0.4s all ease;
  box-shadow: o 5px 20px rgb(255, 255, 255);
  
}

.box img:hover{
  cursor: pointer;
  transform: scale(1);
 filter: brightness(60%);
 box-shadow: 0 0 30px #9ecaed;

}
      .main2{
        width: 90%;
        margin: auto;
        font-size: 1.3em;
      }

      .content li{
        /* list-style: none; */
        text-align:justify;
        font-size: 1.3em;
        padding: 0em;
        margin-right: 2em;
        color: #CC99CC;
      }

     